[submodule "code/containers"]
	path = code/containers
	url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/containers
[submodule "tacc-openneuro"]
	path = tacc-openneuro
	url = https://github.com/poldracklab/tacc-openneuro.git
	datalad-url = https://github.com/poldracklab/tacc-openneuro.git
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds002424
	datalad-id = 876d1ea4-3c7d-11ea-b74e-a64c3dfb0597
	datalad-url = /scratch1/03201/jbwexler/openneuro_derivatives/raw/ds002424
